.dashboard-btn:focus {
    background-color: rgb(219, 7, 7);
    color: #FFFFFF;
}


.submit-btn {
    background-color: #FF2108;
    color: #FFFFFF;
}

.table-style{
    background-color: #FF2108;
    color: #FFFFFF;
}